
.edit-btn{
	background-color: #6E70CF;
    color: #F6F6F6;
    height: 18px;
    padding: 4px 30px 9px;
    width: 25px;
    border-radius: 4px;
    float: left;
}
.destroy-btn{
	background-color: #F20C36;
    color: #F6F6F6;
    height: 18px;
    padding: 4px 30px 9px;
    width: 25px;
    border-radius: 4px;
    float: left;
}
.new-btn{
	background-color: #0CF28B;
    color: #F6F6F6;
    height: 18px;
    padding: 7px 19px 9px;
    width: 67px;
    border-radius: 4px;
    float: left;
}
.chat-btn{
	background-color: #17EB26;
    color: #F6F6F6;
    height: 18px;
    padding: 4px 30px 9px;
    width: 25px;
    border-radius: 4px;
    float: left;
    margin: 10px;
}